main{
    padding: 100px 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.projectList__box{
    position: relative;
    min-height: 170px;
    min-width: 120px;
    max-width: 120px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.3s;
    z-index: 0;
    background-color: rgb(35, 35, 37);
}
.boxBorder{
    margin: 10px;
    background: linear-gradient(45deg, rgb(71, 114, 255), rgb(47, 255, 151));
    padding: 3px;
    border-radius: 18px;
}
.projectList__box:hover{
    background-color: rgba(0, 0, 0, 0);
}
.projectList{
    display: flex;
    flex-wrap: wrap;
}
.ggicon{
    z-index: 1;
}