.questionWraper{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.answer{
    padding: 10px;
}
.questionAndAnswer{
    overflow: hidden;
    border: 2px rgb(46, 47, 48) solid;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    z-index: -1;
}
.questionAndAnswer:hover{
    background-color: rgb(42, 43, 46);
}
.answer, .questionAndAnswer, .questionWraper{
    transition-duration: 0.3s;
}
.dropDownIcon{
    transition: transform 0.3s;
}